<mat-card>
  <div style="text-align:center">
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Stament SQL" [(ngModel)]="inputValue" required>
    </mat-form-field>
  </div>
  <div class="space">
      <button mat-raised-button color="primary" (click)="onSubmit()">Create</button>
  </div>
  <mat-chip-list *ngIf="resultF">
    
    <div *ngIf="resultF.selectClause">
      <mat-chip color="primary" selected>{{resultF.selectClause.type}}</mat-chip>
    </div>
    <div *ngIf="resultF.selectClause">
      <mat-chip *ngFor="let item of resultF.selectClause.columns">{{item}}</mat-chip>
    </div>
    <div *ngIf="resultF.fromClause">
      <mat-chip color="primary" selected>{{resultF.fromClause.type}}</mat-chip>
    </div>
    <div *ngIf="resultF.fromClause">
      <mat-chip>{{resultF.fromClause.table}}</mat-chip>
    </div>
    <div *ngIf="resultF.whereClause">
      <mat-chip color="primary" selected>{{resultF.whereClause.type}}</mat-chip>
    </div>
    <div *ngIf="resultF.whereClause">
      <mat-chip>{{resultF.whereClause.condition.lhs}}</mat-chip>
      <mat-chip color="primary" selected>{{resultF.whereClause.condition.operator}}</mat-chip>
      <mat-chip>{{resultF.whereClause.condition.rhs}}</mat-chip>
    </div>
  </mat-chip-list>
</mat-card>

